In [2]:
print("Y W A")

Y W A

In [4]:
l1=(1,2,3,33,3,3,1,33)
l1=tuple(set(l1))
print(l1)

(1, 2, 3, 33)

In [6]:
"hello world"

'hello world'

In [8]:
str1="Abhiram Yanganti"
clg="WIT"
print(len(str1))
print(str1[::15])
print(str1.lower())
print(str1.upper())
print(str1.split())
print("My Name is {} . I study in {}".format(str1,clg))
print("My Name is {1} . I study in {0}".format(str1,clg))
print("My Name is {str1} . I study in {clg}".format(str1="AR",clg="MED"))

16
Ai
abhiram yanganti
ABHIRAM YANGANTI
['Abhiram', 'Yanganti']
My Name is Abhiram Yanganti . I study in WIT
My Name is WIT . I study in Abhiram Yanganti
My Name is AR . I study in MED

In [10]:
l1=[1,2,3,4,5,4,4,5,5,6,4,3,3,3]
l1=l1+["22"]
l2=[11,22,33]
l1.append(l2)
print(l1)
# print(str1.join(' '))
print(type(l1))
print(l1[::2])
print(len(l1))
print(l1.count(3))
print(l1[0])
# in this basically the last elemnt is another so double pop wil pop the elemnt of inner list
print(l1.pop().pop())

[1, 2, 3, 4, 5, 4, 4, 5, 5, 6, 4, 3, 3, 3, '22', [11, 22, 33]]
<class 'list'>
[1, 3, 5, 4, 5, 4, 3, '22']
16
4
1
33

In [12]:
d1={1:'Abhi',2:[23,12,29,30],3:'WIT'}
print(d1[2][-1])
print(d1.items())
print(d1.keys())
print(d1[1][-1].upper())
print(d1)
d1[1]="ABHIRAM"
print(d1)

30
dict_items([(1, 'Abhi'), (2, [23, 12, 29, 30]), (3, 'WIT')])
dict_keys([1, 2, 3])
I
{1: 'Abhi', 2: [23, 12, 29, 30], 3: 'WIT'}
{1: 'ABHIRAM', 2: [23, 12, 29, 30], 3: 'WIT'}

In [14]:
i=set()
j={}
print(type(j))
type(i)

<class 'dict'>

set

In [16]:
a=1
if(a):
    print("A")
else:
    print("a")

A

In [20]:
#Greatest of 3
i=int(input())
j=int(input())
k=int(input())
if(i>j and j>k):
    print(i," is greatest")
elif(j>k and j>i):
    print(j," is greatest")
else:
    print(k," is greatest")

 1
 2
 3

3  is greatest

In [22]:
loc="Manglore"
print("I am from {}".format(loc))

I am from Manglore

In [24]:
# E-bil 3550
units=int(input())
bill=0
units=units-200
if(units>=800):
    bill=((units-800)*14)+(500*11)+(300*8)
elif(units>500):
    bil=((units-500)*11)+(300*8)
elif(units>200):
    bill=(units-200)*8
print(bill)

 3550

43600

In [28]:
# Savings 
sal=int(input())
sav=int(input())
sav=sav-200000 if (sav>200000) else sav
tax=0
sal=sal-sav
if(sal>=2200000):
    tax=((sal-2200000)*0.3)+(1200000*0.2)+(1000000*0.1)
elif(sal>1200000):
    tax=((sal-1200000)*0.2)+(1000000*0.1)
elif(sal>100000):
    tax=(sal-1000000)*0.1
print(tax)

 5
 5

0

In [69]:
# Savings 
sal=int(input())
intrest=0
if(sal>=2500000):
    intrest=((sal-2500000)*0.18)+(1500000*0.15)+(1000000*0.1)
elif(sal>1200000):
    intrest=((sal-1500000)*0.15)+(1000000*0.1)
elif(sal>100000):
    intrest=(sal-1000000)*0.1
print(intrest)

 333333333333333333333

5.999999999999987e+19

In [79]:
#Prime
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True
num = int(input("Enter a number: "))
if is_prime(num):
    print(f"{num} is a prime number.")
else:
    print(f"{num} is not a prime number.")

Enter a number:  11

11 is a prime number.

In [85]:
#Armstrong
def is_armstrong(n):
    num_str = str(n)
    num_digits = len(num_str)
    armstrong_sum = sum(int(digit) ** num_digits for digit in num_str)
    
    return armstrong_sum == n

# Example usage
num = int(input("Enter a number: "))
if is_armstrong(num):
    print(f"{num} is an Armstrong number.")
else:
    print(f"{num} is not an Armstrong number.")

Enter a number:  153

153 is an Armstrong number.

In [37]:
l = []
n = 2
count = 0  
while count < 15:  
    is_prime = True
    for j in range(2, int(n**0.5) + 1):
        if n % j == 0:
            is_prime = False
            break  
    if is_prime:  
        l.append(n)
        count += 1  
    n += 1  
print(l)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [39]:

while True:
    print("Hello Moto")
    i=i+1
    if i==4:
        break

Hello Moto
Hello Moto
Hello Moto
Hello Moto
Hello Moto